---
interface Props {
  title: string;
  body: string;
  href: string;
  flag: string;
}

const { href, title, body, flag } = Astro.props;
---

<li class="link-card">
  <a href={href}>
    <p>
      {body}
    </p>
    <h2>
      {title}
      <span>&rarr;</span>
    </h2>
    <div class={`fib fi-${flag} fis`}></div>
  </a>
</li>
<style>
  .link-card {
    list-style: none;
    display: flex;
    padding: 1px;
    background-color: #fff;
    background-image: none;
    background-size: 400%;
    border-radius: 25px;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  }
  .link-card > a {
    width: 100%;
    text-decoration: none;
    line-height: 1.4;
    padding: calc(1.5rem - 1px) calc(2rem - 1px);
    border-radius: 26px;
    color: rgb(var(--accent-dark));
    background-color: #fff;
    opacity: 0.8;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  h2 {
    margin: 0;
    font-size: 1.25rem;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
  p {
    margin-bottom: 0.5rem;
    margin-top: 0;
  }
  .link-card:is(:hover, :focus-within) {
    background-position: 0;
    background-image: var(--accent-gradient);
  }
  .link-card h2 > span {
    display: inline-block;
    transform: translateX(0);
    transition: 0.3s transform ease-out;
  }

  .link-card:is(:hover, :focus-within) h2 {
    color: #232323;
    //background-color: rgb(var(--accent-dark));

  }

  .link-card:is(:hover, :focus-within) h2 > span {
    transform: translateX(0.5rem);
  }
  .fib,
  .fi {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
  }

  .fib.fis {
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 1.8rem;
    left: calc(-1rem - 1px);
  }
  .fi {
    position: relative;
    display: inline-block;
    width: 1.333333em;
    line-height: 1em;
  }
  .fi:before {
    content: " ";
  }
  .fi.fis {
    width: 1em;
  }

  .fi-gb {
    background-image: url(../images/flags/gb-4x3.svg);
  }
  .fi-gb.fis {
    background-image: url(../images/flags/gb-1x1.svg);
  }

  .fi-fr {
    background-image: url(../images/flags/fr-4x3.svg);
  }
  .fi-fr.fis {
    background-image: url(../images/flags/fr-1x1.svg);
  }
</style>
