---
interface Props {
  title: string;
}

const title = "MMFC - Paris Community Football Club";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Webpage for a community run football club in Paris called MMFC"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --mmfc-yellow: 255, 203, 0;
    --mmfc-blue: 32, 47, 107;
    --accent: 214 171 0;
    --accent-light: var(--mmfc-yellow);
    --accent-dark: var(--mmfc-blue);
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: rgb(var(--accent-dark));
    background-size: 224px;
  }
  body {
    margin: 0;
    padding: 0;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  a {
    color: rgb(var(--accent-light));
    text-decoration: none;
  }
</style>
